.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: tan;
  text-align: center;
}

.App__pin-pad {
  width: 500px;
  height: 500px;
  margin: 100px auto;
  background: linear-gradient(gold, goldenrod, darkgoldenrod);
  border: 3px solid black;
  border-radius: 20px;
}

.App__screen-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  margin: 20px auto;
  background: linear-gradient(seashell, white, wheat);
  border: 3px solid black;
  border-radius: 1rem;
  font-size: 36px;
}

.App__button-section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, auto);
  padding: 40px 80px;
}

.App__last-button {
  grid-column-start: 2;
  grid-column-end: 3;
}

.App__pin-pad-button {
}