.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: tan;
  text-align: center;
}

.App__pin-pad {
  width: 500px;
  height: 500px;
  margin: 100px auto;
  background: linear-gradient(gold, goldenrod, darkgoldenrod);
  border: 3px solid black;
  border-radius: 1rem;
}